.label {
    -fx-font-size: 16px;
    -fx-font-family: "Tajawal-Bold";
    -fx-text-fill: #0C0C0C;
    -fx-background-color: #FFEFCC;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5 15 5 15;
    -fx-alignment: CENTER;
    -fx-pref-width: 155.0px;
    -fx-pref-height: 35.0px;
}