.text-field {
    -fx-background-color: #0C0C0C;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: #FFBE34;
    -fx-font-family: "Tajawal-Bold";
    -fx-font-size: 16px;
}