.label {
    -fx-font-size: 32px;
    -fx-font-family: "Tajawal-Bold";
    -fx-text-fill: #FFBE34;
    -fx-background-color: #0C0C0C;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-alignment: CENTER;
    -fx-min-width: 475.0px;
    -fx-max-width: 475.0px;
    -fx-pref-width: 475.0px;
    -fx-pref-height: 65.0px;
    -fx-min-height: 65.0px;
    -fx-max-height: 65.0px;
}